<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="7zip.commandline" />
  <package id="ccleaner" />
  <package id="everything" />
  <package id="firefox" />
  <package id="git" />
  <package id="notepadplusplus" />
  <package id="putty" />
</packages>
