<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cpu-z" />
  <package id="filezilla" />
  <package id="filezilla.commandline" />
  <package id="flashplayerplugin" />
  <package id="miktex" />
  <package id="nodejs" />
  <package id="pandoc" />
  <package id="sumatrapdf" />
  <package id="virtualbox" />
  <package id="virtualbox.extensionpack " />
  <package id="vmwareplayer" />
  <package id="winpcap" />
  <package id="wireshark" />
</packages>
