<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="7zip.commandline" />
  <package id="ccleaner" />
  <package id="everything" />
  <package id="firefox" />
  <package id="git" />
  <package id="notepadplusplus" />
  <package id="putty" />
  <package id="cygwin" />
  <package id="javaruntime" />
  <package id="jre8" />
  <package id="python" />
  <package id="rufus" />
  <package id="winscp" />
  <package id="cpu-z" />
  <package id="filezilla" />
  <package id="filezilla.commandline" />
  <package id="daemontoolslite" />
  <package id="skype" />
</packages>
